.buyerWrap {
  composes: selectorWrap from './../utils.css';
}

.placeholderValue {
  composes: selectorPlaceholder from './../utils.css';
}

.arrow {
  composes: selectorArrow from './../utils.css';
}

.optionsBox {
  composes: selectorOptionsBox from './../utils.css';
}

.optionsBox > div {
  padding-left: 5px;
}

.optionsBox div:hover {
  cursor: pointer;
  background-color: whitesmoke;
  font-weight: bold;
}

.hideOptionsBox {
  display: none;
}

.optionsBox input {
  position: sticky;
  top: 0;
  width: inherit;
  background: url(https://img.icons8.com/search) no-repeat 3px;
  background-size: 20px 20px;
  background-color: white;
  padding-left: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #e2e2e2;
  height: 27px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .buyerWrap {
    width: 130px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .buyerWrap {
    width: 120px;
  }
}

@media screen and (min-width: 550px) and (max-width: 900px) {
  .buyerWrap {
    width: 42%;
  }
}

@media screen and (max-width: 550px) {
  .buyerWrap {
    width: 90%;
  }
}
