.selectWrap {
  composes: selectorWrap from './../utils.css';
}

.avatar {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-bottom: -6px;
}

.bluringPlaceholder {
  composes: selectorPlaceholder from './../utils.css';
}

.showArrow {
  composes: selectorArrow from './../utils.css';
}

.hideElement {
  display: none;
}

.showedOptions {
  composes: selectorOptionsBox from './../utils.css';
}

.showedOptions > div {
  cursor: default;
  padding-left: 5px;
}

.showedOptions > div ~ div:hover,
.showedOptions > input ~ div:hover {
  cursor: pointer;
  background-color: whitesmoke;
  font-weight: bold;
}

.showedOptions input {
  position: sticky;
  top: 0;
  width: inherit;
  background: url(https://img.icons8.com/search) no-repeat 3px;
  background-size: 20px 20px;
  background-color: white;
  padding-left: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #e2e2e2;
  height: 27px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .selectWrap {
    width: 15%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .selectWrap {
    width: 21.8%;
    margin: 15px 1.6% 15px 1.6%;
  }
}

@media screen and (min-width: 550px) and (max-width: 900px) {
  .selectWrap {
    width: 47%;
    margin: 15px 0 10px 0;
  }
}

@media screen and (max-width: 550px) {
  .selectWrap {
    width: 95%;
    margin: 15px 0 10px 0;
  }
}
