.selectorWrap {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  position: relative;
  height: 35px;
  margin: 15px;
  padding-left: 5px;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
}

.selectorPlaceholder {
  color: dimgrey;
}

.selectorArrow {
  position: absolute;
  right: 3px;
  top: 6px;
}

.selectorOptionsBox {
  position: absolute;
  top: 34px;
  left: 0px;
  max-height: 250px;
  overflow-x: hidden;
  width: -webkit-fill-available;
  width: -moz-available;
  color: black;
  background-color: white;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  -webkit-box-shadow: 0px 11px 13px -6px rgba(107, 107, 107, 0.92),
    5px 6px 10px 1px rgba(107, 107, 107, 0.58),
    -5px 6px 10px 1px rgba(107, 107, 107, 0.58);
  -moz-box-shadow: 0px 11px 13px -6px rgba(107, 107, 107, 0.92),
    5px 6px 10px 1px rgba(107, 107, 107, 0.58),
    -5px 6px 10px 1px rgba(107, 107, 107, 0.58);
  box-shadow: 0px 11px 13px -6px rgba(107, 107, 107, 0.92),
    5px 6px 10px 1px rgba(107, 107, 107, 0.58),
    -5px 6px 10px 1px rgba(107, 107, 107, 0.58);
}
