.carWrap {
  composes: selectorWrap from './../utils.css';
}

.placeholderValue {
  composes: selectorPlaceholder from './../utils.css';
}

.avatar {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-bottom: -6px;
}

.arrow {
  composes: selectorArrow from './../utils.css';
}

.optionsBox {
  composes: selectorOptionsBox from './../utils.css';
}

.optionsBox > div {
  cursor: default;
  padding-left: 5px;
}

.optionsBox > div ~ div:hover {
  cursor: pointer;
  background-color: whitesmoke;
  font-weight: bold;
}

.hideOptionsBox {
  display: none;
}

@media screen and (min-width: 1200px) {
  .carWrap {
    width: 130px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .carWrap {
    width: 120px;
  }
}

@media screen and (min-width: 550px) and (max-width: 900px) {
  .carWrap {
    width: 42%;
  }
}

@media screen and (max-width: 550px) {
  .carWrap {
    width: 90%;
  }
}
